*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


body {
    background-color:beige;
    color:black;
    margin: 30px;
}



main{
    width: 100%;
    margin: 30px 0 0 15px;
}

ul{
    width: 100;
}

nav{
    margin: 0px;
}

#listas{ /* selector de indentificador por medio de id no utilizar para dar estilos*/
    background-color: aqua;
}

.titulo {
    color: red;
    text-align: center;
}

.copete {
    background-color: azure;
    padding: 10px;
    margin: 50px;
    border: 500px, solid rgb(52, 46, 139);
    text-align: justify;    
    
  }


.texto {
    text-align: justify;
}

.texto h2{
    color: blue;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-line: solid;
    font-style: bold;
}

.texto h3{
    font-style: italic;
}

.etiquetas{ /* selector de clase por medio de clases SI UTILIZAR PARA DAR ESTILOS*/
    background-color: red;
    color: black
}

/*Pseudo clases*/
.etiquetas:hover{
    color:blueviolet;
    cursor: pointer;
}

.menu { /* formato de menu de navegacion */
    display: flex;
    list-style-type: none; /*elimina las viñetas*/
    margin: 0;
    padding: 0%;
    background-color: rgb(159, 161, 161);
    overflow: hidden;
}

.menu li a{ /*damos formato a la lista*/
    display: block;
    width: 60px;
    color:whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.listado{
    padding-left: 2rem;
    list-style-type: none;
}

.listado li::marker{
    content: '>';
    color: green;
}

.listado ol::content{
    background-color: aqua;
}


.mercaderias h5{
    background-color: blue;
    color: black;
}

.mercaderias li:first-child{
    background-color: rgb(150, 47, 78);
}